<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>{{ title }} - {{ subtitle }}</title>
	<link type="image/png" href="/assets/missy.png" rel="icon">

	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="The Bogfolk Cafè">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="The Bogfolk Cafè">
	<meta property="og:image" content="/{{ socialImage }}">
	<meta property="og:image:type" content="{{ socialImageType }}">
	<meta property="og:image:alt" content="{{ socialImageAlt }}">
	<meta property="og:url" content="https://bogfolk-cafe.github.io">
	<meta property="theme-color" content="#004d4d">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ title }} - {{ subtitle }}">
	<meta name="twitter:site" content="@bogfolk">
	<meta name="twitter:image" content="/{{ socialImage }}">
	<meta name="twitter:image:alt" content="{{ socialImageAlt }}">

	<meta http-equiv="Refresh" content="0; url='/{{ slug }}.html'" />
</head>
</html>
