:root {
	/* These are the colors from palette picked by Strega. */
	--smokeyBlack: #100e0d;
	--deepJungleGreen: #004d4d;
	--lemonCurry: #d1a41b;
	--tartOrange: #f54040;
	--white: #ffffff;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background: var(--deepJungleGreen);
	color: var(--white);
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
}

main {
	padding: 0 2rem 2rem;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 5rem;
}

p {
	margin-bottom: 1rem;
}

ul {
	padding-left: 1rem;
	margin-bottom: 1rem;
}

a {
	color: #eddba4;
}

blockquote {
	font-style: italic;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
}

footer {
	font-size: 0.75rem;
	text-align: center;
	margin-top: 1rem;
}

#banner {
	display: flex;
}

#banner > img {
	width: 100%;
}

.center {
	text-align: center;
}

.bigMissy {
	max-width: 100%;
}

.wallOText {
	max-width: 110vh;
	margin-left: auto;
	margin-right: auto;
}

/* Styling to handle bogfolk profile animations. */
.hovermation {
    transition: transform .75s ease-out,opacity .75s ease-out;
    transition-delay: .3s;
    opacity: 1;
    transform: translateX(0);
}

.hovermation .text {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 1.25rem;
    position: absolute;
    left: 0;
    right: 0;
}

.hovermation .element {
    overflow: hidden;
    position: relative;
}

.hovermation .element:hover .inner {
	top: 0;
	bottom: 0;
}

.hovermation .inner {
    left: 0;
    top: 0;
    position: relative;
    background: var(--tartOrange);
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.hovermation img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Styling for grid. */
.container {
	max-width: 94vw;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0.333rem;
	margin-right: 0.333rem;
}

.col-grid {
    padding-left: 0.333rem;
    padding-right: 0.333rem;
    padding-bottom: 0.666rem;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
}

@media (max-width: 800px) {
	.col-grid {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (max-width: 400px) {
	.col-grid {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* Styling for the Navbar. */
#navbar {
	overflow: hidden;
	background: var(--tartOrange);
	z-index: 10;
}

#navbar .navbar-item {
	background-color: var(--tartOrange);
	float: left;
	display: block;
	color: var(--smokeyBlack);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

#navbar.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar .navbar-item.active {
	background-color: var(--lemonCurry);
}

#navbar a {
	color: var(--smokeyBlack);
}

@media (max-width: 400px) {
	#navbar.sticky {
		width: fit-content;
	}

	#navbar .navbar-item {
		text-align: center;
		float: none;
		display: none;
	}

	#navbar {
		width: fit-content;
		height: auto;
		position: relative;
		background: unset;
	}

	#navbar .hamburger-lines {
		height: 1.625rem;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0.5rem;
		background-color: var(--tartOrange);
		border-radius: 0.3rem;
		box-sizing: content-box;
	}

	#navbar.mobile-navbar-display .hamburger-lines {
		border-radius: unset;
	}

	#navbar .hamburger-lines .line {
		display: block;
		height: 0.25rem;
		width: 2rem;
		border-radius: 0.7rem;
		background: var(--smokeyBlack);
	}

	#navbar.mobile-navbar-display .navbar-item {
		display: block;
		width: 100vw;
	}
}

