:root {
    --lichomaRed: #e41a47;
	--blackestBlack: #000000;
}

html {
	background: var(--lichomaRed);
	color: var(--white);
}

#navbar {
	background: var(--lichomaRed);
}

#navbar .navbar-item {
	background-color: var(--lichomaRed);
}

#navbar a, a {
	color: var(--blackestBlack);
	font-weight: 400;
}

#navbar .navbar-item.active {
  background-color: var(--white);
}

@media (max-width: 400px) {
	#display-menu {
		background-color: var(--lichomaRed);
	}
}

ul > li {
	list-style-image: url("/assets/missy_lichoma.svg");
}

blockquote.boxed {
  background: var(--white);
  color: var(--blackestBlack);
}

.video-container {
  width: 560px;
}

.right {
  float: right;
  max-width: 50%;
}

@media (max-width: 1024px) {
  .right {
	max-width: 60%;
  }
}

@media (max-width: 960px) {
  .video-container {
    width: 480px;
  }
}

@media (max-width: 640px) {
  .video-container {
    width: unset;
  }

  .right {
	float: none;
	max-width: 100%;
  }
}

.left {
  float: left;
  max-width: 50%;
}

@media (max-width: 640px) {
  .left {
	float: unset;
	max-width: 100%;
  }
}
